body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}

h1 {
  color: #333;
}

.post {
  background-color: #d4d4d4;  
  padding: 10px;              
  margin: 10px 0;            
  border-radius: 5px;         
  font-family: Arial, sans-serif;  
}


